/* Variables */ 
:root {
    --colorPrimary: #202124;
    --colorFooter: #171717;
    --colorInput: #4d5156;
    --colorInputHover: #56595d;
    --colorInputWrite: #303134;
    --textColor: #FFFFFF;
    --textColorFooter: #E8E8E8;
}

/* Evita errores de margenes y corrige el margen y padding de la página */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Tamaño de letra para toda la página ajustada para valores relativos */
html {
    font-size: 62.5%; /* 1rem = 10px para escalabilidad */
}

body {
    background-color: var(--colorPrimary);
    font-family: Roboto, Arial, sans-serif;
}

.icons {
    height: 2.5rem;
    width: 2.5rem;
}

.icon-perfil {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}

/* Estilos del menu */

.menu {
    color: var(--textColor);
}

.menu-container {
    font-size: 1.4rem;
    font: 1.3rem Roboto, Arial, sans-serif;
}

.menu-container ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 1.5rem;
    gap: 1.8rem;
}

/* Quita la decoración y color por default de la etiqueta a */
.menu-container ul > li > a{
    text-decoration: none;
    color: var(--textColor);
}

.menu-container ul > li > a:hover{
    text-decoration: underline; /* Cuando pasa por encima, lo subraya */
}

.menu-container ul > li:nth-child(2) {
    margin-right: 0.6rem;

}

/* Buscador de Google */

.logo {
    height: 16rem;
    width: auto;
    filter: grayscale(100%) brightness(1000%);  
}

.input-search img:nth-child(1) {
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
}

.main-container {
    margin-top: 5rem;
    align-items: center;
}

.content-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-search {
    /* display: inline-block; */
    position: relative;
    z-index: 1;
}

.input-search input {
    background-color: var(--colorInput);
    width: 60rem;
    height: 4.8rem;
    padding: 1rem 5rem;
    border-radius: 2.4rem;
    border: none;
    font-size: 1.6rem;
    color: var(--textColor);
}

.input-search input:hover {
    background-color: var(--colorInputHover);
}

.input-search input:focus {
    background-color: var(--colorInputWrite);
    border: none;
    outline: none;
    color: var(--textColor);
}

.input-search img:nth-of-type(1) {
    position: absolute;
    z-index: 2;
    bottom: 1.3rem;
    left: 1.2rem;
}

.input-search img:nth-of-type(2) {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 52rem;
}

.input-search img:nth-of-type(3) {
    position: absolute;
    z-index: 2;
    bottom: 1.2rem;
    left: 56rem;
}

.container-btn {
    padding: 2.1rem;
}

.container-btn button {
    display: inline;
    background-color: var(--colorInputWrite);
    color: var(--textColor);
    font-size: 1.4rem;
    padding: 0.8rem 2rem;
    margin: 1.1rem 0.4rem;
    border: none;
    border-radius: 0.5rem;
}

.container-btn button:hover {
    box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 0.3); /* Efecto de borde pero hacia dentro y no se mueve nada */
}

/* Estilos del footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--colorFooter);
    color: var(--textColorFooter);
    font-size: 1.4rem;
}

footer > p {
    padding: 1.5rem 2rem;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.container-footer div > p {
    display: inline-block;
    padding: 1.5rem 2.2rem;
}

.container-footer div > p > a {
    color: var(--textColorFooter);
    text-decoration: none;
}

.container-footer div > p:hover {
    text-decoration: underline;
}

hr {
    opacity: 0.1;
}